html
	head
		link(rel='stylesheet', href='https://getbootstrap.com/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		title= title
	body
		h1= message
		.container
			.row.row-background
				.col-4 Alpha
				.col-4 Beta
				.col-4 Gamma