html
	head
		link(rel='stylesheet', href='https://getbootstrap.com/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		title= title
	body
		.container
			h1= resultsName
			.col-12 Alpha
			.col-12 Beta
			.col-12 Gamma