html
	head
		link(rel='stylesheet', href='https://getbootstrap.com/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=Inconsolata", rel="stylesheet")
		title= title
	body
		block content
