extends layout

block content
	.container
			h1 Search
				select#region
					option(value='0') -- Select Region --
					each region in regionsArray
						option(value='#{region.region_id}') #{region.name}

				select#suburb
					option(value='0') -- Select suburb --
					each suburb in suburbsArray
						option(value='#{suburb.suburb_id}') #{suburb.name}
