body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  font-family: 'Inconsolata', monospace;
  background-color:  #2365c2;
  color: white;
}

.background {
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.5;
  z-index: -2;
}
.overlayer {
  height: 100%;
  width:100%;
  background-color:  #2365c2;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.5;
  z-index: -1;
}
.overlayer-results {
    width: 100%;
    height: 100%;

    position: absolute;
    top:0;
    left:0;
    opacity: 1;
    z-index: -1;
}

h1 {
  margin: auto;
  font-family: 'Inconsolata', monospace;
}

h2 {
    margin: auto;
    font-size: 300%;
}

h3 {
    text-align: center;
}

.fix-body-width {
    width: 70%;
}

.icon {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  text-align: center;
}

.suburb-title {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 400%;
  text-align: center;
  width: 100%;
  border-bottom: .5rem solid white;
}
.title-block {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 400%;
  text-align: center;
  width: 60%;
  border-bottom: .5rem solid white;
}
.sub-title-block {
    border-bottom: .1rem solid white;
}

.search-block {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 200%;
  text-align: center;
  width: 60%;
}

select {
  width: 100%
}

button {
  width: 100%
}

.data-block {
    margin: auto;
    width: 50%;
    text-align: center;
}

.row {
    margin-top: 1rem;
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
