body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  margin: auto;
}

h2 {
    margin: auto;
    font-size: 300%;
}

.title-block {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 400%;
  text-align: center;
  width: 60%;
  border-bottom: .5rem solid black;
}

.search-block {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 200%;
  text-align: center;
  width: 60%;
}

select {
  width: 100%
}

button {
  width: 100%
}

.data-block {
    margin: auto;
    width: 50%;
    text-align: center;
}

.row {
    margin-top: 1rem;
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
