body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../background.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  position: relative;
}

.overlayer {
  height: 100%;
  width:100%;
  background-color:  #2BA1E8;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.5;
  z-index: -1;
}

.container {
  z-index: 1;
}

h1 {
  margin: auto;
}

h2 {
    margin: auto;
    font-size: 300%;
}

.icon {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  text-align: center;
}

.title-block {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 400%;
  color: white;
  text-align: center;
  width: 60%;
  border-bottom: .5rem solid white;
}

.search-block {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 200%;
  text-align: center;
  width: 60%;
}

select {
  width: 100%
}

button {
  width: 100%
}

.data-block {
    margin: auto;
    width: 50%;
    text-align: center;
}

.row {
    margin-top: 1rem;
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
